<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Review</title>
  </head>
  <body>
    <h1>Show Review</h1>
    <p><strong>User:</strong> <%= review.renter.name %></p>
    <p><strong>Property:</strong> <%= review.property.name %></p>
    <p><strong>Rating:</strong> <%= review.rating %></p>
    <p><strong>Comment:</strong> <%= review.comment %></p>
    <p><a href="/reviews/<%= review._id %>/edit">Edit</a></p>
    <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>