<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

  <div class="col-12">
    <h1 class="display-5 fw-bold mb-3"> Browse our catalogue</h1>
    <p class="lead">Find your next stay</p>
  </div>
</div>
<!-- starts here -->
<div class="container">
  <% if (!hopper.length) { %>
    <p>There is nothing available at the moment.</p>
  <% } else { %>
    <div class="row row-cols-1 row-cols-md-4">
      <% hopper.forEach(property => { %>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="<%=property.imageUrl %>" class="card-img-top" alt="<%- property.title %>">
            
            <div class="card-body">
              <h5 class="card-title"><%- property.title %></h5>
              <p class="card-text"><%- property.price %></p>
              <p class="card-text"><%- property.location %></p>
              <a href="/properties/<%- property._id %>" class="btn btn-dark">See More</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</div>

  

<!-- ends here -->



<!-- new -->