<!-- new form -->
<form class="mt-5 fs-5"method="POST" action="<% if (update) { %>
  /properties/<%- property._id %>/update
 <% } else { %>
  /properties/new
<% } %>">
  <div class="form-group ">
    <label for="exampleFormControlInput1">Title:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the title" name="title" value="<% if (update) { %>
      <%= property.title %><% } %>">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Location:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Location" name="location" value="<% if (update) { %><%= property.location %><% } %>">
  </div>
  <div class="form-group">
    <label for="price">Price (€):</label>
    <div class="input-group">
      <span class="input-group-text">€</span>
      <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required value="<% if (update) { %><%= property.price %><% } %>">
    </div>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1"
     rows="4" maxlength="300" placeholder="Enter a maximum of 300 characters"
      name="description" ><% if(update){ %><%=property.description %><%}%></textarea>
  </div>

  <input type="file" name="property-cover-image" />
  
  <button type="submit" class="btn btn-dark btn-lg mb-2 mt-3">submit</button>
</form>




<!-- old form -->
